.companys__item {
  color: #000000;
  background-color: #ffffff;
  line-height: 2;
  border-radius: 5px;
  margin-bottom: 50px;
  width: 100%;
}

.companys__item:hover {
  box-shadow: 0px 5px 20px 10px #f7f7f7;
}

.companys__item span {
  font-weight: 600;
  font-size: 0.875rem;
}

.companys__companyName {
  background-color: #0D3A6D;
  padding: 20px;
  text-align: center;
}

.companys__companyName h3 {
  font-weight: 600;
  color: #ffffff;
}

.companys__details,
.companys_btn {
  padding: 20px 12px;
}

.companys_btn {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #A0C618;
  color: #ffffff;
  border: none;
  padding: 0.625rem;
  border-radius: 2px;
  cursor: pointer;
}

.companys__btn--red {
  background-color: transparent;
  color: red;
}

@media screen and (min-width: 615px) {
  .companys__item {
    width: 48%;
  }

  .companys__item:not(:nth-child(3n)) {
    margin-right: 3px;
  }
}

@media screen and (min-width: 1024px) {
  .companys__item {
    width:24%;
  }  

  .companys__item:not(:nth-child(3n)) {
    margin-right: 2px;
  }
}



