.btn {
  background-color: #A0C618;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  transition: .5s;
}

.btn:hover {
  background-color: #002F65;
  transition: .5s;
}

.companies__btn--delete {
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
}

.sign-with-google {
  background-color: #4285F4;
}

.sign-with-google:hover {
  background-color: #5C6BC0;
}