form {
  width: 380px;
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.popup-form {
  z-index: 2;
  position: absolute;
  top: 2%

}

label {
  font-weight: bold;
}

.signin-btns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

