.companies__item {
  color: #000000;
  background-color: #ffffff;
  line-height: 2;
  border-radius: 5px;
  margin-bottom: 50px;
  width: 100%;
}

.card:hover {
  box-shadow: 0px 5px 20px 10px #f7f7f7;
}

.card span {
  font-weight: 600;
  font-size: 0.875rem;
}

.companies__name {
  background-color: #0D3A6D;
  padding: 20px;
  text-align: center;
}

.companies__name h3 {
  font-weight: 600;
  color: #ffffff;
}

.companies__details,
.companies__btn {
  padding: 20px;
}

.companies__btn {
  display: flex;
  justify-content: space-between;
}

.companies__btn button:not(:last-child) {
  margin-right: 5px;
}





