.companys__item {
  color: #000000;
  background-color: #ffffff;
  line-height: 2;
  border-radius: 2px;
}

.companys__item:hover {
  cursor: pointer;
  box-shadow: 0px 5px 20px 10px #f7f7f7;
}

.companys__item span {
  font-weight: 600;
  font-size: 0.875rem;
}

.companys__companyName {
  background-color: #0D3A6D;
  padding: 20px;
}

.companys__companyName h3 {
  font-weight: 600;
  color: #ffffff;
}

.companys__details,
.companys_btn {
  padding: 20px;
}

.companys_btn {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #A0C618;
  color: #ffffff;
  border: none;
  padding: 0.625rem;
  border-radius: 2px;
  cursor: pointer;
}

.companys__btn--red {
  background-color: transparent;
  color: red;
}



