input {
  padding: 0.625rem;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;

}

@media screen and (min-width: 615px) {
  input {
    width: 30%;
    margin: 0 auto 1.875rem !important;
  }
}