.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_btn {
  background-color: blue;
  color: #ffffff;
  border: none;
  padding: 0.625rem;
  border-radius: 2px;
}